@font-face {
  font-family: "candy";
  src: url("./Candy\ Season.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "candy", sans-serif;
}
body {
  flex: 1;
}


section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #3a3a3a;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}
.button {
  background-color: #5a7037;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 5px 5px black;
}

.button:hover {
  background-color: #93cfb1;
  transform: scale(1.02);
}

.button:active {
  background-color: #848586;
  transform: scale(0.98);
}

a {
  text-decoration: none;
  color: black;
}

.options {
  margin-top: 10px;
  width: 80%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.eachbox {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #2c2c2c;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.eachbox:hover {
  background-color: #a5a3a3;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.box1,
.DSA {
  background-color: #5a7037;
}

.box2,
.DEV {
  background-color: #90af5d;
}
.box3,
.JS {
  background-color: #6e9235;
}
.label {
  font-size: 1.2rem;
  color: #f9f9f9;
  font-weight: 500;
  letter-spacing: 0.5px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #9a9a92;
  text-align: center;
  padding: 20px;
}

.md-container {
  display: flex;
  flex-direction: column;
}
.mdDiv {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.mdDiv h2 {
  margin-top: 0;
}
zero-md {
  border: 1px solid #ccc;
  padding: 15px;
  margin: auto;
  border-radius: 8px;
  background-color: #e7c7c7;
  width: 70%;
}
@media (max-width: 720px) {
  body {
    padding: 10px;
  }

  section {
    grid-template-columns: 1fr;
    width: 90%;
    padding: 15px;
  }

  .button {
    font-size: 14px;
    height: fit-content;
  }

  .eachbox {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  zero-md {
    width: 90%;
    padding: 10px;
  }
  section {
    grid-template-columns: repeat(1, 1fr);
  }
  .options {
    flex-direction: column;
    align-items:stretch;
    margin:auto;
    gap:2px;
    width: 80%;
  }
  .eachbox:hover {
    transform: translateX(5px);
  }
}